flask==2.0.1
requests==2.26.0
redis==4.5.5
paramiko==3.2.0
python-twitter==3.5
Pillow==9.5.0
yagmail==0.15.293
django==4.0.2
beautifulsoup4==4.10.0
sqlalchemy==1.4.26gi
pytest==6.2.5
pylint==2.9.6
pyqt5==5.15.4
pyyaml==6.0
click==8.0.3
pytz==2022.2
pygments==2.15.0
coloredlogs==15.0.1
faker==18.9.0
PyPDF2==3.0.1